@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Permanent+Marker&display=swap');

.font-family-primary {
    font-family: "DM Serif Display", serif !important;
}

.font-family-secondary {
    font-family: 'Nerko One', cursive !important;
}

.font-family-default {
    font-family: 'Nunito', serif !important;
}

.transparent-list {
	background-color: transparent !important;
}


